<div class="hero_area">
  <!-- header section strats -->
  <!-- <header class="header_section">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container">
        <a class="navbar-brand" (click)="gotologinsuccess()">
          <span>MEETMASTER</span>
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class=""> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <button
                type="button"
                class="btn btn-success"
                (click)="gotoregistration()"
              >
                Login/SignUp
              </button>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header> -->
  <!-- end header section -->
  <!-- slider section -->
  <section class="slider_section">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="detail-box">
                  <h1>MeetMaster <br /></h1>
                  <figcaption class="blockquote-footer">
                    <cite title="Source Title"
                      >Where Meetings Become Masterpieces</cite
                    >
                  </figcaption>
                  <p>
                    Welcome to <b>MeetMaster</b>, the ultimate platform for
                    seamless and productive meetings. Our application is
                    designed to elevate your meeting experience, fostering
                    collaboration, efficiency, and engagement.
                  </p>

                  <div class="btn-box">
                    <a href="" class="btn-1"> Create Meeting </a>
                    <a href="" class="btn-2"> Join Meeting </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-lg-10 mx-auto">
                    <div class="img-box">
                      <img src="../../assets/meetingcarsoul1.jpg" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end slider section -->
</div>
